@mixin socialIcon {
    text-decoration: none;
    height: 40px;
    width: 40px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    border-radius: 6px;
    transition: all ease-out 0.4s;
}

