.rox-sm-btn {
    padding: 7px 14px;
    text-transform: uppercase;
    color: map-get($colors, primary);
    text-decoration: none;
    background-color: map-get($colors, secondary);
    border-radius: 25px;
    font-weight: map-get($font-weight, semi-bold);
    font-size: 13px;
    line-height: 1;
    margin: 5px;
    display: inline-block;
    transition: all ease-in-out 0.4s;
    &:hover {
        background-color: map-get($colors, yellowColor);
        color: map-get($colors, secondary);
    }
}
.rox-md-btn {
    height: 50px;
    line-height: 50px;
    border: 0;
    padding: 0px 40px;
    padding-right: 60px;
    background: map-get($colors, yellowColor);
    text-transform: uppercase;
    color: map-get($colors, secondary);
    font-weight: map-get($font-weight, medium);
    font-size: map-get($font-size, sm);
    i {
        margin-left: 10px;
        font-size: map-get($font-size, xsm);
    }
    &:hover {
        i {
            animation-name: leftToRight;
            animation-duration: 0.4s;
        }
    }
}
//Small Button

.sm-btn {
    color: map-get($colors, primary);
    display: inline-block;
    font-size: map-get($font-size, xsm );
    font-weight: map-get($font-weight, semi-bold );
    text-transform: uppercase;
    padding: 7px 25px;
    margin-right: 4px;
    border-radius: 6px;
    background: map-get($colors, quote );
    margin-bottom: 6px;
    text-decoration: none;
    transition: all ease-in-out 0.4s;
    &:hover{
        background-color: map-get($colors, yellowColor );
        color:map-get($colors, secondary );
    }
}
.btn-md{
    height: 56px;
    width: 150px;
    background: map-get($colors, yellowColor );
    color:map-get($colors,secondary );
    text-transform: uppercase;
    font-weight: map-get($font-weight, semi-bold );
    font-size: map-get($font-size, xsm );
    border-radius: 7px;
    position: relative;
    z-index: 1;
    border: none ;
}
.btn-md span{
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    width: 0px;
    height: 0px;
    background-color: map-get($colors, primary );
    z-index: -1;
    transition: 0.5s;
    border-radius: 7px;
}
.btn-md:hover span{
    width: 150px;
     height: 56px;
}
.humberger-btn{
    button{
        background: transparent;
        border: none;
        height: 35px;
        width: 35px;
        position: relative;
        span{
            height: 7px;
            width:7px;
            background-color: map-get($colors, yellowColor );
            display: block;
            &:nth-child(1){
                position: absolute;
                left: 0px;
                top:0px;
            }
            &:nth-child(2){
                position: absolute;
                left: 13px;
                top:0px;
            }
            &:nth-child(3){
                position: absolute;
                left: 26px;
                top:0px;
            }
            &:nth-child(4){
                position: absolute;
                left: 0px;
                top:13px;
            }
            &:nth-child(5){
                position: absolute;
                left: 13px;
                top:13px;
            }
            &:nth-child(6){
                position: absolute;
                left: 26px;
                top:13px;
            }
            &:nth-child(7){
                position: absolute;
                left: 0px;
                top:26px;
            }
            &:nth-child(8){
                position: absolute;
                left: 13px;
                top:26px;
            }
            &:nth-child(9){
                position: absolute;
                left: 26px;
                top:26px;
            }
        }
    }
}