// colors
$colors: (
    "primary": #2c3941,
    "secondary": #fff,
    "warning": #f8f4ef,
    "gray-dark": #343a40,
    "light-gray": #f8f4ef,
    "light":#f6f6f6,
    "secondary-gray":#677a85,
    "greenColor":#198754,
    "yellowColor": #fc8459,
    "light-secondary":#a7a1d1,
    "border":#34454f,
    "info":#374853,
    "quote":#f8f4ef,
    "dark":#f5f5f5,
    "icon-color":#687e8b,
);
// Font Weight
$font-weight: (
    "light": 300,
    "regular": 400,
    "medium": 500,
    "semi-bold":600,
    "bold": 700,
);
//Font Size
$font-size: (
    "xsm": 14px,
    "sm": 15px,
    "md": 17px,
    "lg": 20px,
    "xlg":24px,
    "xl": 38px,
);
